.card-hover:hover{
    background-color: rgba(175, 162, 153, 0.596);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}

.card-hover:hover .card-title{
    color: white  !important;
}